:root {

  --c-main-1-10: #007b87;
  --c-main-1-05: rgba(0, 124, 135, 0.5);

  --c-main-2-10: #B0e298;
  --c-main-2-02: rgba(175, 226, 152, 0.2);

  --c-main-3-10: #005e75;
  --c-main-3-05: rgba(0, 94, 117, 0.5);

  --c-main-4-10: #f9f9f9;

  --c-main-5-10: #e072a4;
  --c-main-5-07: rgba(224, 114, 163, 0.7);

  --c-background: #f5f5f5;

  --f-family-1: 'Righteous', 'Noto Sans TC', sans-serif;

}

main h2 {
  font-size: min(calc(18px + 2vw), 40px);
}

.item-area {
  background-color: var(--c-main-2-02);
  border-radius: 20px;
}

.item-area .item-img {
  height: min(calc(250px + 15vw), 500px);
  background-color: var(--c-main-4-10);
  border-radius: 20px;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .item-area .item-img {
    height: 70vh;
  }
}

main form .btn {
  color: var(--c-main-5-10);
  border: 1px solid var(--c-main-5-10);
}

main form .btn:hover {
  background-color: var(--c-main-5-10);
  color: var(--c-main-4-10);
}